<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
    div
        form(action="/add" method="POST")
            p Title:
            input(type="text" name="product_name" placeholder="")
            p Price:
            input(type="text" name="product_price" placeholder="")
            p link image:
            input(type="text" name="image" placeholder="")
            br
            br
            input(type="submit")